*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/********************* Header ********************/

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.imgorange{
    width: 300px;
    height: 150px;
}

.divh1{
    background-color: hwb(21 0% 0% / 0.854);
    padding: 30px 0;
    margin: 20px 0;
}

h1{
    text-align: center;
    font-size: 45px;
    letter-spacing: 1px;
}


/* ************ Fin Header ************ */




.form1{
    border:  hwb(21 0% 0% / 0.854) solid 2px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.form1 h4{
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 40px 0 20px 0;
}

.form-check{
    margin: 10px 0;
}

.form-check label{
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-check input[type="radio"]{
    cursor: pointer;
}

.suivant{
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}






/* ***************** Footer Section *************** */
/* .divfooter{
    border: solid 2px hwb(21 0% 0% / 0.854);
    padding: 20px 40px;
    text-align: end;
    background: red;
} */
footer{
    width: 100%;
    text-align: end;
    border: solid 2px hwb(21 0% 0% / 0.854);
}

.imgfooter{
    width: 60px;
    padding-top:10px ;
    cursor: pointer;
}

.imgfooter:nth-child(2){
    margin: 0 10px;
}
/* *************** Fin footer section **************** */
