{% extends 'layouts/partials/default.html' %} 
{% block title %}fixmibile {%endblock%}
    {% block body %}  

    <form action="" class="form1">
        <div class="form-check">
            <input class="form-check-input1" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Numero Client
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
              Numero D
            </label>
          </div>
    </form>

{% endblock %}